<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles.css">

    <title>Cure Cloud</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            background-color: #f0f0f0;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        .cards-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 20px;
        }

        .card {
            width: 300px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 10px;
            padding: 15px;
            text-align: center;
        }

        .card h2 {
            color: #333;
        }

        .card p {
            color: #666;
        }

        .card-button {
            display: block;
            margin-top: 10px;
            padding: 8px 16px;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .card-button:hover {
            background-color: #4CAF50;
        }

        

    </style>
  </head>
  <body>
    <!-- <h1>Hello, world!</h1> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Cure Cloud</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/show_dashboard?pharmacyName=<%= pharmacyName %>"
              
              >Dashboard <span class="sr-only">(current)</span></a
            >
          </li>
         

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Medicines
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/show_medicines?pharmacyName=<%= pharmacyName %>">View Medicines</a>
              <a class="dropdown-item" href="/show_generics?pharmacyName=<%= pharmacyName %>">View Generics</a>
             <!-- <div class="dropdown-divider"></div>-->
             
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Sales
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             
                <a class="dropdown-item" href="/view_sales?pharmacyName=<%= pharmacyName %>">Sales Report</a>
                <a class="dropdown-item" href="/customer_order?pharmacyName=<%= pharmacyName %>">Manage Sales</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Purchases
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             
                <a class="dropdown-item" href="/show_purchase?pharmacyName=<%= pharmacyName %>">Purchase Report</a>
                <a class="dropdown-item" href="/buy_medicine?pharmacyName=<%= pharmacyName %>">Add Purchases</a>
            </div>
          </li>
          
           <li class="nav-item">
              <a class="nav-link"  href="/advertise_mr?pharmacyName=<%= pharmacyName %>">Representative's Medicinal Offers</a>
            </li> 
         <!-- <li class="nav-item">
            <a class="nav-link" href="/contact.html">Contact Us</a>
          </li>-->
          
          
        
        </ul>
        <span class="navbar-text">
          <a href="pharma_first?pharmacyName=<%= pharmacyName %>" class="highlighted-text"><%= pharmacyName %></a>
        </span>
        
      </div>
    </nav>
    <script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
  ></script>
  <script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
  ></script>
  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
  ></script>
  <% if (typeof msg !== 'undefined' && msg) { %>
    <div class="alert alert-success" role="alert">
        <%= msg %>
    </div>
<% } %>

<div class="cards-container">
    <% categories.forEach(category => { %>
        <div class="card">
            <h2><%= category.generic_name %></h2>
            <p><%= category.description %></p>
            
        </div>
    <% }); %>
</div>